<!DOCTYPE html>
<html>
    <head>
        <title>Modifica Materiale</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Modifica Materiale</h1>
        <p><a href="{{ url_for('material_management') }}">Torna alla Gestione Materiali</a></p>
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name() }}<br>
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.cost_per_unit.label }}<br>
                {{ form.cost_per_unit() }}<br>
                {% for error in form.cost_per_unit.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.unit.label }}<br>
                {{ form.unit() }}<br>
                {% for error in form.unit.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.width.label }}<br>
                {{ form.width() }}<br>
                {% for error in form.width.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.length.label }}<br>
                {{ form.length() }}<br>
                {% for error in form.length.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.thickness.label }}<br>
                {{ form.thickness() }}<br>
                {% for error in form.thickness.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.currency.label }}<br>
                {{ form.currency() }}<br>
                {% for error in form.currency.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.category.label }}<br>
                {{ form.category() }}<br>
                {% for error in form.category.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.brand.label }}<br>
                {{ form.brand() }}<br>
                {% for error in form.brand.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </body>
</html>